@use "../styles/variables" as *;

.clients-carousel-wrapper {
  position: relative;
  padding: 10px 40px;
}

.clients-carousel {
  padding: 10px 0;
}

.clients-carousel__item {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  background: $dark-card;
  border: 1px solid $dark-border;
  border-radius: 10px;

  overflow: hidden;
  transition: 0.3s;

  img {
    max-width: 120px;
    max-height: 50px;

    width: auto;
    height: auto;

    object-fit: contain;

    opacity: 0.8;
    transition: 0.3s ease;
    display: block;
  }

  &:hover {
    border-color: $primary;

    img {
      opacity: 1;
      transform: scale(1.08);
    }
  }
}

.clients-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;

  transition: 0.3s;

  &:hover {
    background: $primary;
  }
}

.clients-arrow--prev {
  left: 0;
}

.clients-arrow--next {
  right: 0;
}
